<h2>Add to this encounter</h2>
<section class="row">
    <form class="col">
        <label class="row">Name:
            <input type="text" #entityName>
        </label>
        <label class="row">HP (If any):
            <input type="number" #entityHP>
        </label>
        <label class="row">Initiative Modifier:
            <input type="number" #initiativeModifier>
        </label>
        <button (click)="add(entityName.value, entityHP.value, initiativeModifier.value);" class="row">Add</button>
    </form>
</section>